@import 'src/sass/variables/variables';

datepicker {
  display: block;
  position: relative;
  .clicker {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 10;
  }
  .icon {
    top: 0.8em;
    position: absolute;
    right: 1em;

    svg {
      fill: $color-link;
      width: 24px;
      height: 24px;
    }
  }
}
