@import 'src/sass/variables/variables';
@import 'src/sass/screen/normalize3';

.input {
  width: 100%;
  height: $input-height;
  appearance: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: $input-border-radius;
  -webkit-appearance: none;
  padding: .1125rem .75rem;
}

body {
  font-size: 14px;
}
