// Border-radius
$input-border-radius: 0.25rem;
$button-border-radius: 0.25rem;

$input-height: 2.89rem;

// Breakpoints
$breakpoint-small: 567px; // smaller than landscape phone
$breakpoint-medium: 768px; // smaller than portrait tablet
$breakpoint-regular: 1024px; // smaller than landscape tablet

// Colors
$color-muted: #999;
$color-default: #DDD;
$color-danger: #ef4343;
$color-warning: #f18d05;
$color-success: #8cc542;
$color-primary: #4b77b9;

$color-link: $color-primary !default;
$color-link-hover: darken($color-primary , 20%) !default;

$btn-color-danger: #EE605A;

$modal-animate-duration: 0.5s;
$modal-bg-color:                  #fff !default;
$modal-backdrop-bg-active:        rgba(0,0,0,0.5) !default;
$modal-backdrop-bg-inactive:      rgba(0,0,0,0) !default;

$z-index-modal:                   10 !default;

$modal-inset-mode-break-point:    680px !default;  // @media min-width
$modal-inset-mode-top:            20% !default;
$modal-inset-mode-right:          20% !default;
$modal-inset-mode-bottom:         20% !default;
$modal-inset-mode-left:           20% !default;
$modal-inset-mode-min-height:     240px !default;
