@import 'src/sass/variables/variables';
@import 'src/sass/mixins/breakpoint';
@import 'src/sass/mixins/vertical_rythm';
@import 'src/sass/mixins/btn';

.button-md {
  @include pv(0.5);
  @include pr(1);
  @include pl(1);
  line-height: $vr-line-height;
}

.button-lg {
  @include pv(1);
  @include pr(2);
  @include pl(2);
}


.button {
  display: inline-block;
  margin: 0;
  @extend .button-md;
  border: none;
  border-radius: $button-border-radius;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 400;
  transition: background-color .2s ease-in-out;

  &:hover {
    border: none;
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }

  & + & {
    margin-left: 4px;
  }
}


.button-border {
  @include btn($btn-color-default, $btn-dark-text);
}

.button-default {
  @include btn($btn-color-default, $btn-dark-text);
}

.button-danger {
  @include btn($btn-color-danger, $btn-light-text);
}

.button-warning {
  @include btn($btn-color-warning, $btn-light-text);
}

.button-success {
  @include btn($btn-color-success, $btn-light-text);
}

.button-primary {
  @include btn($btn-color-primary, $btn-light-text);
}


.button-icon-default {
  @include btn-icon($btn-color-default);
}

.button-icon-danger {
  @include btn-icon($btn-color-danger);
}

.button-icon-warning {
  @include btn-icon($btn-color-warning);
}

.button-icon-success {
  @include btn-icon($btn-color-success);
}

.button-icon-primary {
  @include btn-icon($btn-color-primary);
}

.button-transparent-white {
  @include btn-transparent(rgba(255, 255, 255, 0.4), #fff);
}



.button-disabled,
[class^="button"]:disabled,
.button[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  background-color: #bbb;

  &.button-link {
    color: #999;
    background-color: transparent;
    icons {fill:#999;}
  }
}


// Используется для стилизации кнопки под ссылку,
// например <button type="reset" class="button button-link">Отмена</button>
.button-link {
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  color: $color-link;
  transition: color 0.3s ease-in-out;

  icons {fill:$color-link;}

  &:hover {
    background-color: transparent;
    color: $color-link-hover;

    icons {fill:$color-link-hover;}
  }
}

.button-dashed {
  border-bottom: 1px dashed;
  margin: 8px 24px;
  padding: 0;
  &:hover {
    border-bottom: 1px dashed;
  }
}

.button-block {
  display: block;
  width: 100%;
}

.button-icon {
  @include pv(0.5);
  @include pr(0.5);
  @include pl(0.5);
  line-height: $vr-line-height / 2 + rem;

  icons {
    svg {
      width: 22px;
      height: 22px;
    }
  }

  &.button-lg {
    @include pv(1);
  }
}

.button-with-icon {
  icons {
    position: relative;
    top: 0.144rem;

    @include mr(1);
    margin-left: 0;
    line-height: 1.618rem;

    svg {
      width: 18px;
      height: 18px;
    }
  }
}

.button-row {
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;

  @include breakpoint($breakpoint-small) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  > .col {
    padding: 0;
    align-self: center;

    &:first-of-type {
      order: 1;
    }

    @include breakpoint($breakpoint-small) {

      &:first-of-type {
        text-align: left;
        order: 0;

        .button-link {
          padding-left: 0;
          padding-right: 0;
        }
      }
      &:last-of-type {
        text-align: right;
      }
    }

  }

  .button {
    display: block;
    width: 100%;

    @include breakpoint($breakpoint-small) {
      display: inline-block;
      width: auto;
    }
  }
}
