@mixin btn($bg-color, $color, $percent: 10%) {
  background: $bg-color;
  color: $color;

  icons{ fill:$color; }

  &:hover,
  &:focus {
    background: darken($bg-color, $percent);
    color: $color;

    icons { fill:$color; }
  }
  &:active,
  &.button-active {
    background: darken($bg-color, $percent);
  }
}


@mixin btn-icon($color, $percent: 30%) {
  background-color: transparent;
  color: $color;
  transition: color .2s ease-in-out;

  icons {
    fill:$color;
    transition: fill .2s ease-in-out;
  }

  &:hover,
  &:focus {
    color: darken($color, $percent);
    background-color: transparent;

    icons {fill:darken($color, $percent);}
  }
  &:active,
  &.button-active {
    color: darken($color, $percent);
    background-color: transparent;

    icons {fill:darken($color, $percent);}
  }
}




@mixin btn-transparent($bg-hover-color, $color, $percent: 10%) {
  background: transparent;
  color: $color;
  border: 1px solid $color;

  &:hover,
  &:focus {
    background: $bg-hover-color;
    color: $color;
    border: 1px solid $bg-hover-color;
  }
  &:active,
  &.button-active {
    background: $bg-hover-color;
    border: 1px solid $bg-hover-color;
  }
}
