@import 'src/sass/variables/_variables.scss';

icons {
  display: inline-block;
  vertical-align: baseline;
  position: relative;

  i + i {
    svg {
      position: absolute;
      bottom: 2px;
      left: 0;
    }
  }

  span, i {
    vertical-align: baseline;
  }

  i {
    display: inline-block;
  }

  svg {
    width: 14px;
    height: 14px;
  }

  &.f24p {
    top: rem(4px);

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &.f30p {
    top: rem(4px);

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &.caution {
    fill: $btn-color-danger;
  }

  &.text-primary  {fill: $color-primary;}
  &.text-success  {fill: $color-success;}
  &.text-warning  {fill: $color-warning;}
  &.text-danger 	{fill: $color-danger;}
}
